.scr {
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.background {
    background: url(assets/business-college-composition-desk-419635.jpg) center center;
    background-size: cover;
}

.timeUp {
    background: url(assets/selective-focus-photography-of-hour-glass-1209998.jpg) center center;
    background-size: cover;
}

.bestLuck {
    background: url(assets/black-and-white-dartboard-1552617.jpg) center center;
    background-size: cover;
}

.welcome_page {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100%;
    max-width: 100%;
    position: absolute;
}

.hide {
    transition: all 0.25s ease-in-out;
    animation: fade 0.5s ease-in-out;
    display: none;
}

.countdown {
    width: 100%;
    height: 2rem;
    background-color: #25476a;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.8;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

;
.page {
    bottom: 0;
    /* margin-bottom: .5rem; */
}

.page-link {
    cursor: pointer;
}

a:not([href]) {
    color: midnightblue;
}

.markDiv {
    background-color: rgba(37, 71, 106, .1);
    height: 100%;
}

.markedQ {
    background-color: rgba(37, 71, 106, .8);
    color: white;
    border: 2px solid #25476a;
    font-weight: bold;
    cursor: pointer;
    /* text-align: center; */
}

form {
    max-width: 300px;
    position: relative;
    margin: 50px auto 0;
    font-size: 15px;
    width: 100%;
}

.radiobtn {
    position: relative;
    display: block;
}

.radiobtn label {
    display: block;
    background: rgba(37, 71, 106, .1);
    color: #444;
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid rgba(37, 71, 106, .4);
    margin-bottom: 5px;
    cursor: pointer;
    transition: .5s;
}

.radiobtn label:hover {
    transform: scale(1.1);
}

.radiobtn label:after,
.radiobtn label:before {
    content: "";
    position: absolute;
    right: 11px;
    top: 11px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: rgba(37, 71, 106, .2);
}

.radiobtn label:before {
    background: transparent;
    transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
    z-index: 2;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
    width: 0;
    height: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
}

.radiobtn input[type="radio"] {
    display: none;
    position: absolute;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.radiobtn input[type="radio"]:checked+label {
    background: rgba(37, 71, 106, .7);
    -webkit-animation-name: blink;
    animation-name: blink;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    border-color: rgba(37, 71, 106, .1);
    color: white;
}

.radiobtn input[type="radio"]:checked+label:after {
    background: rgba(37, 71, 106, .7);
}

.radiobtn input[type="radio"]:checked+label:before {
    width: 20px;
    height: 20px;
}

@-webkit-keyframes blink {
    0% {
        background-color: rgba(37, 71, 106, .1);
    }
    10% {
        background-color: rgba(37, 71, 106, .2);
    }
    11% {
        background-color: rgba(37, 71, 106, .3);
    }
    29% {
        background-color: rgba(37, 71, 106, .4);
    }
    30% {
        background-color: rgba(37, 71, 106, .5);
    }
    50% {
        background-color: rgba(37, 71, 106, .6);
    }
    45% {
        background-color: rgba(37, 71, 106, .7);
    }
    50% {
        background-color: rgba(37, 71, 106, .7);
    }
    100% {
        background-color: rgba(37, 71, 106, .7);
    }
}

@keyframes blink {
    0% {
        background-color: rgba(37, 71, 106, .1);
    }
    10% {
        background-color: rgba(37, 71, 106, .2);
    }
    11% {
        background-color: rgba(37, 71, 106, .3);
    }
    29% {
        background-color: rgba(37, 71, 106, .4);
    }
    30% {
        background-color: rgba(37, 71, 106, .5);
    }
    50% {
        background-color: rgba(37, 71, 106, .6);
    }
    45% {
        background-color: rgba(37, 71, 106, .7);
    }
    50% {
        background-color: rgba(37, 71, 106, .7);
    }
    100% {
        background-color: rgba(37, 71, 106, .7);
    }
}